includes:
	- phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - src/Migrations/*
            - src/DataFixtures/*
    ignoreErrors:
        - '#Access to an undefined property Symfony\\Component\\Validator\\Constraint::\$message#'