parameters:
	ignoreErrors:
		-
			message: "#^Strict comparison using \\=\\=\\= between null and App\\\\Entity\\\\User will always evaluate to false\\.$#"
			count: 1
			path: src/Command/DeleteUserCommand.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Form\\\\FormInterface\\:\\:isClicked\\(\\)\\.$#"
			count: 1
			path: src/Controller/Admin/BlogController.php

		-
			message: "#^Parameter \\#2 \\$default of method Symfony\\\\Component\\\\HttpFoundation\\\\InputBag\\<string\\>\\:\\:get\\(\\) expects string\\|null, int given\\.$#"
			count: 1
			path: src/Controller/BlogController.php

		-
			message: "#^Parameter \\#2 \\$limit of method App\\\\Repository\\\\PostRepository\\:\\:findBySearchQuery\\(\\) expects int, string given\\.$#"
			count: 1
			path: src/Controller/BlogController.php

		-
			message: "#^Call to an undefined method App\\\\Repository\\\\UserRepository\\:\\:findOneByEmail\\(\\)\\.$#"
			count: 1
			path: tests/Command/AddUserCommandTest.php

		-
			message: "#^Service \"test\\.user_password_hasher\" is not registered in the container\\.$#"
			count: 1
			path: tests/Command/AddUserCommandTest.php

		-
			message: "#^Call to an undefined method App\\\\Repository\\\\PostRepository\\:\\:findOneByTitle\\(\\)\\.$#"
			count: 1
			path: tests/Controller/Admin/BlogControllerTest.php

		-
			message: "#^Parameter \\#2 \\$times of function str_repeat expects int, float given\\.$#"
			count: 1
			path: tests/Controller/Admin/BlogControllerTest.php

		-
			message: "#^Call to an undefined method App\\\\Repository\\\\UserRepository\\:\\:findOneByEmail\\(\\)\\.$#"
			count: 1
			path: tests/Controller/UserControllerTest.php

